<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	  <listeners>
		<listener class-name="com.betika.utils.SuiteListener"></listener>
	</listeners>
  <test thread-count="5" name="Test">
	   <parameter name="browser" value="chrome"></parameter>
	    <parameter name="headless" value="false"></parameter>
    <classes>
     <!--  <class name="com.betika.testCases.TestUserLogin"/>-->
     <class name="com.betika.testCases.TestBetPlacement"/> 
    <!--   <class name="com.betika.testCases.TestMyBetsActions"/> -->
    <!--   <class name="com.betika.testCases.TestUserRegistration"/>  -->
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->


